params {
  inputFilePath = "$baseDir/data/test.fasta"
  fastaSubsetSize = 1
  trimDangling = false
  dangleMax = 0
  rmParams = "-xsmall -species Plasmodium falciparum 3D7"
  outputFileName = "blocked.seq"
  errorFileName = "blocked.err"
  outputDir = "$launchDir/output"
}

includeConfig "$baseDir/conf/docker.config"
