params {
  inputFilePath = "$baseDir/data/Data.fa"
  numberOfSplits = 5
  trimDangling = true
  dangleMax = 5
  outputFileName = "cleaned.fa"
  maxMemoryGigs = "2 GB"
  processorsPerNode = "1"
  container = 'veupathdb/repeatmasker:latest'
  outputDir = "$launchDir/output"
  speciesName = ""
  numNodes = ""
}
process {
  container = 'veupathdb/repeatmasker:latest'
}
docker {
    enabled = true
}
