params.inputFilePath = "$baseDir/data/Data.fa"
params.outputDir = "$launchDir/output"
params.trimDangling = true
params.rmParams = ""
params.dangleMax = 5
params.outputFileName = "cleaned.fa"
params.speciesName = ""
params.numNodes = ""
params.maxMemoryGigs = ""
params.processorsPerNode = ""
process.container = 'veupathdb/repeatmasker:latest'


docker {
    enabled = true
}
