singularity.enabled     = true
singularity.autoMounts  = true
docker.enabled          = false

process {
    executor = 'lsf'
    queue = 'normal'

    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'finish' }
    clusterOptions = {
        (task.attempt > 1 && task.exitStatus in 130..140)
        ? '-M 6000 -R "rusage [mem=6000] span[hosts=1]"'
        : '-M 12000 -R "rusage [mem=12000] span[hosts=1]"'
    }
}